{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'users/css/signup.css' %}">
</head>
<body>
 <div class="container">
      <div class="card">
        <div class="card_title">
          <h1>Create Account</h1>
          <span>Already have an account? <a href="{% url 'users:login' %}">Sign In</a></span>
        </div>
        <div class="form">
        <form method="post">
            {{ form.as_p }}
            <button type="submit">Sign Up</button>
            {% csrf_token %}
        </form>
        </div>
      </div>
    </div>
</body>
</html>